:root {
  --color-principal: #fffcf2;
  --color-principal-d: #252422;
  --color-secundario: #ccc5b9;
  --color-secundario-d: #403d39;
  --color-detalle: #eb5e28;
  --color-detalle2: #f38681;
  --color-detalle3: #fad734;
  --color-detalle4: #440c0c;
}
.tienda_name div h1 {
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.tienda_name:hover div h1 {
  opacity: 100;
}
.caldero {
  filter: invert(61%) sepia(63%) saturate(5630%) hue-rotate(345deg)
    brightness(95%) contrast(93%);
}
.snitch {
  position: relative;
  text-align: center;
  width: 50px;
  height: 50px;
}
.snitch .obj {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  transition: all ease 0.5s;
  z-index: 1;
}
.snitch .obj {
  top: -2em;
  animation: hover ease-in-out 1.5s infinite;
}
.snitch .obj .body {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #efbf65;
  border: solid 0.04em #3c2e2d;
  border-width: 0.12em;
}
.snitch .obj .body .flourish {
  border: solid 0.04em #3c2e2d;
  background: #efbf65;
}
.snitch .obj .body .flourish:nth-child(1) {
  position: absolute;
  top: -30%;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 60%;
  z-index: 10;
}
.snitch .obj .body .flourish:nth-child(2) {
  position: absolute;
  top: 7.5%;
  left: -38%;
  border-radius: 50%;
  width: 90%;
  height: 52%;
  z-index: 9;
}
.snitch .obj .body .flourish:nth-child(3) {
  position: absolute;
  top: 7.5%;
  right: -38%;
  border-radius: 50%;
  width: 90%;
  height: 52%;
  z-index: 9;
}
.snitch .obj .body .flourish:nth-child(4) {
  overflow: hidden;
  position: absolute;
  bottom: -15%;
  right: -26%;
  border-radius: 50%;
  width: 70%;
  height: 60%;
  z-index: 9;
}
.snitch .obj .body .flourish:nth-child(5) {
  overflow: hidden;
  position: absolute;
  bottom: -15%;
  left: -26%;
  border-radius: 50%;
  width: 70%;
  height: 60%;
  z-index: 9;
}
.snitch .obj .body .flourish .line {
  position: absolute;
  right: 0;
  top: 0.5em;
  width: 100%;
  height: 0.04em;
  background: #3c2e2d;
}
.snitch .obj .body .flourish .line:nth-child(2) {
  top: 1.4em;
}
.snitch .obj .body .flourish .line:nth-child(3) {
  top: 2.25em;
}
.snitch .obj .wing {
  position: absolute;
  text-align: right;
  line-height: 0;
  top: -70%;
  left: -165%;
  width: 180%;
  height: 90%;
  transform-origin: bottom right;
}
.snitch .obj .r.wing {
  text-align: left;
  left: auto;
  right: -165%;
  transform-origin: bottom left;
}
.snitch .obj .wing {
  animation: flap-left ease-in-out 0.15s infinite;
}
.snitch .obj .r.wing {
  animation: flap-right ease-in-out 0.15s infinite;
}
.snitch .obj .joint {
  position: absolute;
  top: 8%;
  left: 3%;
  width: 22%;
  height: 22%;
  border-radius: 50%;
  background: #efbf65;
  border: solid 0.04em #3c2e2d;
  border-width: 0.12em;
  z-index: 11;
}
.snitch .obj .r.joint {
  left: auto;
  right: 3%;
}
.snitch .obj .wing .feather {
  display: inline-block;
  width: 100%;
  height: 40%;
  margin-top: -1px;
  background: #fdfce6;
  border: solid 0.04em #3c2e2d;
  border-width: 0.12em;
  border-radius: 0 4em 0 4em;
}
.snitch .obj .wing .feather:nth-child(2) {
  height: 33%;
  width: 85%;
  border-top: none;
  border-radius: 0 0 0 4em;
}
.snitch .obj .wing .feather:nth-child(3) {
  height: 33%;
  width: 70%;
  border-radius: 0 0 0 4em;
  border-top: none;
}
.snitch .obj .r.wing .feather {
  border-radius: 0 0 4em 0;
}
.snitch .obj .r.wing .feather:nth-child(1) {
  border-radius: 4em 0 4em 0;
}
.snitch .shadow {
  position: absolute;
  bottom: 0;
  left: calc(50% - 0%);
  height: 0;
  width: 0;
  background: #3c2e2d;
  opacity: 1;
  border-radius: 50%;
  z-index: 0;
  transition: all ease 0.5s;
}
.snitch .shadow {
  opacity: 0.65;
  height: 10%;
  left: calc(50% - 25%);
  width: 50%;
  animation: shadow-hover ease-in-out 1.5s infinite;
}
@keyframes flap-left {
  50% {
    transform: rotate(-40deg) scaley(0.6);
  }
}
@keyframes flap-right {
  50% {
    transform: rotate(40deg) scaley(0.6);
  }
}
@keyframes hover {
  50% {
    transform: translatey(-1.2em);
  }
}
@keyframes shadow-hover {
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/harry-potter");
